#myStream {
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(90deg);
}

#my-id {
    font-weight: bold;
}

#end-call {
    display: none;
}

.navbar-expand-lg {
    background-color: #212AE8;
}

input[type=text] {
    border-radius: 5px;
    border: #a9a9a9 1px solid;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3);
    width: 40%;
    font-size: 15px;
    padding: 5px;
}

input[type=text]:focus {
    border: solid 1px #20b2aa;
}

input[type=text],
select {
    outline: none;
}

button:hover {
    opacity: 0.8;
}

video {
    background: black;
    float: left;
}

/* These are affected by there being no videosContainer anymore */
#videosContainer video {
    height: 100%;
}

#videosContainer video:first-child:nth-last-child(1),
#videosContainer video:first-child:nth-last-child(1)~video {
    width: 100%;
}

#videosContainer video:first-child:nth-last-child(2),
#videosContainer video:first-child:nth-last-child(2)~video {
    width: 50%;
}